<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>

<body>
  <main class="container">
    <ol class="list-unstyled row g-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-2 row-cols-1">
      <%_ videos.forEach((video) => { _%>
      <li class="col">
        <div class="card">
          <img src="<%= video.thumbnail %>" class="card-img" alt="<%= video.id %>" />
          <div class="card-body">
            <p class="card-title fw-bolder">
              <span class="badge rounded-pill text-bg-dark">
                <%= video.duration %>
              </span>
              <a href="/watch?v=<%= video.id %>" class="link-dark text-decoration-none">
                <%= video.title %>
              </a>
            </p>
            <p class="card-subtitle">
              <small class="text-muted">
                <%= video.view_count %> views &bull; <%= video.upload_date %>
              </small>
            </p>
          </div>
        </div>
      </li>
      <%_ }); _%>
    </ol>
  </main>
</body>

</html>
