<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/channel.css" />
  <title>Document</title>
</head>

<body>
  <ol id="video-list">
    <%_ videos.forEach((video) => { _%>
    <li>
      <div class="video-thumbnail">
        <img src="<%= video.thumbnail %>" alt="<%= video.id %>" />
        <div class="video-duration"><%= video.duration %></div>
      </div>
      <p class="video-title">
        <a href="/watch?v=<%= video.id %>"><%= video.title %></a>
      </p>
      <p class="video-info">
        <%= video.view_count %> views &bull; <%= video.upload_date %>
      </p>
    </li>
    <%_ }); _%>
  </ol>
</body>

</html>
