extends shared/layout

block append head
  title= name
  link(rel="stylesheet", href="/stylesheets/style.css")

block main
  .container
    h1= name
    ol.list-unstyled.row.g-1(
      class=["1", "sm-2", "md-3", "lg-4", "xl-5", "xxl-6"].map((x) => `row-cols-${x}`)
    )
      each video in videos
        li.col
          .card.border-0
            img.card-img.rounded-0(src=video.thumbnail, alt=video.id)
            .card-body.p-1.mb-3
              p.card-title.fw-semibold.
                #[span.badge.rounded-pill.text-bg-dark= video.duration]
                #[a.link-dark.text-decoration-none(href=`/watch?v=${video.id}`)= video.title]
              p.card-subtitle.text-muted
                small #{ video.viewCount } views &bull; #{ video.uploadDate }
