<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>

<body>
  <ol class="list-unstyled">
    <%_ videos.forEach((video) => { _%>
    <li>
      <div>
        <img src="<%= video.thumbnail %>" alt="<%= video.id %>" />
        <div class="badge rounded-pill text-bg-dark"><%= video.duration %></div>
      </div>
      <p>
        <a href="/watch?v=<%= video.id %>"><%= video.title %></a>
      </p>
      <p class="text-muted">
        <small><%= video.view_count %> views &bull; <%= video.upload_date %></small>
      </p>
    </li>
    <%_ }); _%>
  </ol>
</body>

</html>
