extends shared/layout

block append head
  title= video.title
  link(rel="stylesheet", href="/stylesheets/style.css")

block main
  main.container
    h1= video.title
    .ratio.ratio-16x9(style="background-color: black")
      video.w-100(controls)
        source(src=`/file/${video.id}.${video.ext}`)
        a(href=`/file/${video.id}.${video.ext}`) Download video
    p #{ video.view_count } views &bull; #{ video.upload_date }
    h2 Description
    p(style="white-space: pre-wrap")= video.description
