<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title><%= video.title %></title>
</head>

<body>
  <video controls>
    <source src="<%= `/file/${video.id}.${video.ext}` %>" />
    Sorry, your browser doesn't support embedded videos.
  </video>
  <div>
    <h2><%= video.title %></h2>
    <p>
      <%= video.view_count %> views &bull; <%= video.upload_date %>
    </p>
    <h3>Description</h3>
    <pre><%= video.description %></pre>
  </div>
</body>

</html>
