<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/watch.css" />
  <title><%= video.title %></title>
</head>

<body>
  <main>
    <video controls>
      <source src="<%= `/file/${video.id}.${video.ext}` %>" />
      Sorry, your browser doesn't support embedded videos.
    </video>
    <h2><%= video.title %></h2>
    <p class="info-text">
      <%= video.view_count.toLocaleString() %> views &bull; <%= formatDate(video.upload_date) %>
    </p>
    <hr />
    <pre id="video-description"><%= video.description %></pre>
  </main>
</body>

</html>
